 <% include _html_header.ejs %>
 <link rel='stylesheet' href='/stylesheets/charts.css' />
 <link rel='stylesheet' href='stylesheets/frontpage.css'/>
 <script src="/scripts/d3.min.js"></script>
 <script src="/scripts/chartlogic.js"></script>
  <script src="/scripts/cat.js"></script>
    <% include _nav.ejs %>
    <div id="wrapper">
      <div id="content">
      <div id"weather_cat">
      Weather Cat
        <div class="photo"></div>
        </div>
        <h1>Welcome to <%= title %></h1>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div id="chart_container">
          <label>Guaranteed Analysis<input type="radio" class="radio_button" id="guaranteed_analysis" name="method" onclick="change_analysis(0)"/></label>
          <label>Dry Matter Basis<input type="radio" class="radio_button" id="dry_matter_basis" name="method" onclick="change_analysis(1)"/></label>
          <label>Calorie Weighted Basis<input type="radio" class="radio_button" id="calorie_weighted_basis" name="method" onclick="change_analysis(2)"/></label>
          <br/>
          <div>
            <h3 id="analysis_type">Guarunteed Analysis</h3>
          </div>
          <div id="analysis_description">
            Pet food industry standard of displaying minimal levels of crude protein and fat. No analysis is made for carbs, and the protein and fat are listed as crude, rather than digestible sources. The white parts of the chart represent all other raw materials, such as water/moisture weight. The guarunteed analysis can be used as a starting point in understanding the quality of a food, but the dry matter basis represents a better way of breaking down the protein and fat levels in your pet food.
          </div>
          <br/>
          <% for (var i = 0; i <= 2; i ++ )  { %>
            <div class="hidden foods left_foods" id="food<%= i %>_left"><%= foods[i].Protein + "," + foods[i].Fat + "," + foods[i].Carbs %></div>
          <% } %>
          <% for (var i = 0; i <= 2; i ++ )  { %>
            <div class="hidden foods right_foods" id="food<%= i %>_right"><%= foods[i].Protein + "," + foods[i].Fat + "," + foods[i].Carbs %></div>
          <% } %>
          <br/>
          <div class="colorkey" id="key1"></div><span class="keylabel">Protein</span>
          <div class="colorkey" id="key2"></div><span class="keylabel">Fat</span>
          <div class="colorkey" id="key3"></div><span class="keylabel">Carbs</span>
          <br/>
           <select class="select_menu" id="food_menu_left" onchange="change_brand('left')">
              <% for (var i = 0; i < ingredients.length; i ++) {%>
              <option><%= ingredients[i].Brand %></option>
              <% } %>
          </select>
          <select class="select_menu" id="food_menu_right" onchange="change_brand('right')">
              <% for (var i = 0; i < ingredients.length; i ++) {%>
              <option><%= ingredients[i].Brand %></option>
              <% } %>
          </select>
          <br/>
          <svg id="chart">
              <g id="leftGraph"></g>
              <g id="rightGraph"></g>
          </svg>
              </div>

          <p class="ingredients" id="ingredients_left"><%= ingredients[0].Ingredients %></p>
          <p class="ingredients" id="ingredients_right"><%= ingredients[0].Ingredients %></p>
        </div>
      </div>

    <% include _html_footer.ejs %>

