 <% include _html_header.ejs %>
 <link rel='stylesheet' href='/stylesheets/charts.css' />
 <link rel='stylesheet' href='stylesheets/frontpage.css'/>
 <script src="/scripts/d3.min.js"></script>
 <script src="/scripts/chartlogic.js"></script>
  <script src="/scripts/cat.js"></script>
    <% include _nav.ejs %>
    <div id="wrapper">
      <div id="content">
      <div id"weather_cat">
      Weather Cat
        <div class="photo"></div>
        </div>
        <h1>Welcome to <%= title %></h1>
        <br/>
        <br/>
        <div><h3>PLACEHOLDER CHART TITLE</div>
        <div>
Ingredients: Ground yellow corn; corn germ meal; meat and bone meal (source of pork flavor); soybean meal; beef tallow preserved with mixed-tocopherols (form of vitamin E); egg and chicken flavor; corn gluten meal; animal digest; salt; dried peas; potassium chloride; natural steak flavor; natural grill flavor; choline chloride; added color (red 40; yellow 5; blue 2); zinc sulfate; ferrous sulfate; dl-methionine; vitamin E supplement; manganese sulfate; niacin; vitamin A supplement; calcium carbonate; copper sulfate; calcium pantothenate; garlic oil; pyridoxine hydrochloride; vitamin B12 supplement; thiamine mononitrate; vitamin D3 supplement; riboflavin supplement; calcium iodate; menadione sodium bisulfite complex (source of vitamin K activity); folic acid; biotin; sodium selenite</div>
        <br/>
        <br/>
        <div id="chart_container">
          <label>Guaranteed Analysis<input type="radio" class="radio_button" id="guaranteed_analysis" name="method" onclick="change_analysis(0)"/></label>
          <label>Dry Matter Basis<input type="radio" class="radio_button" id="dry_matter_basis" name="method" onclick="change_analysis(1)"/></label>
          <label>Calorie Weighted Basis<input type="radio" class="radio_button" id="calorie_weighted_basis" name="method" onclick="change_analysis(2)"/></label>
          <br/>
          <% for (var i = 0; i <= 2; i ++ )  { %>
            <div class="hidden foods left_foods" id="food<%= i %>_left"><%= foods[i].Protein + "," + foods[i].Fat + "," + foods[i].Carbs %></div>
          <% } %>
          <% for (var i = 0; i <= 2; i ++ )  { %>
            <div class="hidden foods right_foods" id="food<%= i %>_right"><%= foods[i].Protein + "," + foods[i].Fat + "," + foods[i].Carbs %></div>
          <% } %>
          <br/>
          <div class="colorkey" id="key1"></div><span class="keylabel">Protein</span>
          <div class="colorkey" id="key2"></div><span class="keylabel">Fat</span>
          <div class="colorkey" id="key3"></div><span class="keylabel">Carbs</span>
          <br/>
           <select class="select_menu" id="food_menu_left" onchange="change_brand('left')">
              <% for (var i = 0; i < ingredients.length; i ++) {%>
              <option><%= ingredients[i].Brand %></option>
              <% } %>
          </select>
          <select class="select_menu" id="food_menu_right" onchange="change_brand('right')">
              <% for (var i = 0; i < ingredients.length; i ++) {%>
              <option><%= ingredients[i].Brand %></option>
              <% } %>
          </select>
          <br/>
          <svg id="chart">
              <g id="leftGraph"></g>
              <g id="rightGraph"></g>
          </svg>
              </div>
   
          <p class="ingredients" id="ingredients_left"><%= ingredients[0].Ingredients %></p>
          <p class="ingredients" id="ingredients_right"><%= ingredients[0].Ingredients %></p>
        </div>
      </div>

    <% include _html_footer.ejs %>

