<% include _html_header.ejs %>
<% include _nav.ejs %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="/scripts/jquery-ui-1.10.4.min.js"></script>
<script src="scripts/profile.js"></script>
 <!--  The code below the creates html form when you -->
  <div id="wrapper">
    <div id="content">
    <!-- Begin Guido Experiment -->
      <div id="dialog" title="Pet Information">
        <form id="pet_submission">
          <fieldset class="ui-helper-reset">
            <label for="tab_title">Name</label>
            <input type="text" name="petName" id="petName" class="ui-widget-content ui-corner-all"><br>
            <label for="tab_content">Age</label>
            <input type="text" name="age" id="age" class="ui-widget-content ui-corner-all" size="4"><br>
            <label for="tab_content">Approx. Weight</label>
            <input type="text" name="weight" id="weight" class="ui-widget-content ui-corner-all" size="4"><br>
            <label for="tab_title">License Number</label>
            <input type="text" name="license" id="license" class="ui-widget-content ui-corner-all"><br>
            <label for="tab_title">Breed</label>
            <input type="text" name="type" id="breed" class="ui-widget-content ui-corner-all">
            <br>
            <label for="tab_title">Color/Markings</label>
            <input type="text" name="markings" id="markings" class="ui-widget-content ui-corner-all"><br>
            <label for="tab_title">Immunizations:</label>
            <input type="text" name="shotName" id="shotName" class="ui-widget-content ui-corner-all"><br>
            <label for="tab_title">Date Administered:</label>
            <input type="text" name="shotDate" id="shotDate" class="ui-widget-content ui-corner-all">
          </fieldset>
        </form>
      </div>
        <h1> Hey <%= profile.userName %> Welcome to your pets profile</h1>

        <div id="tabs">
          <ul>
            <% for (var i = 0; i < pets.length; i++ ) { %>
              <li><a href="#tabs-<%= i+2 %>"><%= pets[i].name %></a></li>
            <% } %>
            <li><a href="#tabs-1">Add New Pet</a></li>
          </ul>
        <% for (var i = 0; i < pets.length; i++ ) { %>
          <div id="tabs-<%= (i+2) %>">
            <p>Name: <%= pets[i].name %></p>
            <p>Age: <%= pets[i].age %></p>
            <p>Weight: <%= pets[i].weight %></p>
            <p>License Number: <%= pets[i].license %></p>
            <p>Breed: <%= pets[i].breed %></p>
            <p>Markings: <%= pets[i].markings %></p>
            <form id="image_upload" method="post" enctype="multipart/form-data" action="/file-upload/<%= profile.id %>/<%= pets[i].id %>" data="<%= pets.id[i] %>">
              <input type="file" name="thumbnail">
              <input type="submit">
            </form>
           </div>
        <% } %>
          <div id="tabs-1">
          <button id="add_tab">Add Pet</button>
        </div>
      </div>
    </div>
  </div>
<% include _html_footer.ejs %>


