<% include _html_header.ejs %>
<% include _nav.ejs %>
<div id="load">
<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
<script src="/scripts/jquery-ui-1.10.4.min.js"></script>
<script src="scripts/profile.js"></script>
</div>
 <!--  The code below the creates html form when you -->
  <div id="wrapper">
    <div id="content">
      <span class="hidden" id="active_tab"><%= active_tab %></span>
      <div id="dialog" title="Pet Information">
        <form id="pet_submission">
          <fieldset class="ui-helper-reset">
            <span="tab_title">Name</span>
            <input type="text" name="petName" id="petName" class="ui-widget-content ui-corner-all">
            <span="tab_content">Age</span>
            <input type="text" name="age" id="age" class="ui-widget-content ui-corner-all" size="4">
            <span="tab_content">Approx. Weight</span>
            <input type="text" name="weight" id="weight" class="ui-widget-content ui-corner-all" size="4">
            <span="tab_title">License Number</span>
            <input type="text" name="license" id="license" class="ui-widget-content ui-corner-all">
            <span="tab_title">Breed</span>

            <input type="text" name="type" id="breed" class="ui-widget-content ui-corner-all">
            <span="tab_title">Color/Markings</span>
            <input type="text" name="markings" id="markings" class="ui-widget-content ui-corner-all">
            <span="tab_title">Immunizations:</span>
            <input type="text" name="shotName" id="shotName" class="ui-widget-content ui-corner-all">
            <span="tab_title">Date Administered:</span>
            <input type="text" name="shotDate" id="shotDate" class="ui-widget-content ui-corner-all">
          </fieldset>
        </form>
      </div>
 
        <h1><%= profile.userName %>'s Pets Page</h1>
        <div id="tabs">
          <ul>
            <% for (var i = 0; i < pets.length; i++ ) { %>
              <li id="tab_<%= i %>_header"><a href="#tabs-<%= i+2 %>"><%= pets[i].name %></a><span class="remove" data-pet="<%= pets[i].id %>" data-tab="<%= i %>">x</span></li>
            <% } %>
            <li><a id="add_tab" href="#tabs-1">+</a></li>
          </ul>
        <% for (var i = 0; i < pets.length; i++ ) { %>
          <div id="tabs-<%= (i+2) %>">
            <div id="container">

              <div id='cover_container' style="background:url("<%= pets[i].photo %>");">
                  <div id="pet_content">
                    <div id="info-box">
                      <div id="info-name"><h2><%= pets[i].name %>'s profile</h2></div>
                      <div class="info-item">Name: <%= pets[i].name %></div>
                      <div class="info-item"><p>Age: <%= pets[i].age %></p></div>
                      <div class="info-item"><p>Weight: <%= pets[i].weight %></p></div>
                      <div class="info-item"><p>Breed: <%= pets[i].breed %></p></div>
                      <div class="info-item"><p>Markings: <%= pets[i].markings %></p></div>
                      <div class="info-item"><p>License Number: <%= pets[i].license %></p></div>
                      <div class="info-item"><p>Immunizations: <%= pets[i].shots[0].shotName %></p></div>
                      <div class="info-item"><p>Administered: <%= pets[i].shots[0].examDate %></p></div>
                    </div>
                  </div>
                  <div class="image_box">
                    <img id="profile-photo" src="<%= pets[i].photo %>"/>
                    <form id="image_upload" method="post" enctype="multipart/form-data" action="/file-upload/<%= i %>/<%= pets[i].id %>" data="<%= pets.id[i] %>">
                      <input type="file" name="thumbnail">
                      <input type="submit">
                    </form>
                  </div>
                </div>
                </div>
              </div>
              
            <% } %>

    </div>
  </div>
<% include _html_footer.ejs %>


